/*colours*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

body {
  background: #FBF6EE;
  font-family: "Rokkitt", Arial, sans-serif;
  font-size: 18px; }

h1 {
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center; }

#spiderlog {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%; }

form input {
  padding: 5px; }

form label {
  text-align: left; }

form fieldset {
  margin-left: auto;
  margin-right: auto; }

form label,
form input {
  display: block;
  font-family: "Rokkitt", Arial, sans-serif;
  font-size: 24px; }

/*colours*/
table {
  border-collapse: collapse;
  border-left: 1px solid #ADA9A3;
  border-right: 1px solid #ADA9A3;
  width: 100%; }

td {
  border-bottom: 1px solid #ADA9A3;
  border-top: 1px solid #ADA9A3;
  padding: 10px;
  text-align: center;
  vertical-align: middle; }

thead td {
  font-size: 24px;
  font-weight: bold; }

/*colours*/
.fa {
  color: #6B6965; }

.button {
  background: #FBF6EE;
  border: 1px solid #3B3937;
  border-radius: 10px;
  color: #6B6965;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  transition: all .5s ease-out; }
  .button:hover {
    background: #D9D4CC; }

table button {
  margin-bottom: 10px;
  margin-top: 10px; }

.fed-4 {
  background: #7D7A75;
  color: #3B3937; }

.fed-3 {
  background: #ADA9A3;
  color: #3B3937; }

.fed-2 {
  background: #D9D4CC;
  color: #3B3937; }

.fed-1 {
  background: none;
  color: #3B3937; }

.fed-0 {
  color: #3B3937; }

spider-list {
    /*bottom:0;
    left:0;
    position:absolute;
    top:0;
    width:100%;

    transition: all 1s ease-in-out;*/ }

#spider-list-table img {
  border-radius: 100px;
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
  width: 50px; }

#spider-list-table thead td:first-child {
  padding-left: 85px; }

#spider-list-table tr td:first-child {
  text-align: left; }

.name {
  cursor: pointer;
  font-size: 24px;
  text-align: left;
  text-transform: uppercase; }

#spider-add-button {
  cursor: pointer;
  display: block;
  font-size: 50px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 50px; }

.feed-button {
  color: #3B3937;
  font-size: 35px;
  text-align: center; }

spider-profile {
  background: #7D7A75;
  bottom: 0;
  display: none;
  left: 0;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  position: absolute;
  right: 0;
  top: 0; }

spider-profile img {
  border-radius: 100px;
  display: block;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 180px; }

spider-profile .close,
spider-profile .save {
  cursor: pointer;
  font-size: 35px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

spider-profile.edit input {
  display: block; }

spider-profile.edit #profile-info,
spider-profile.open #profile-info-edit {
  display: none; }

#profile-info {
  padding-top: 30px; }

spider-profile h2 {
  font-size: 40px; }

spider-profile p {
  font-size: 30px; }

#profile-info-edit,
#profile-info {
  margin-left: auto;
  margin-right: auto;
  width: 430px; }

#profile-info-edit fieldset {
  padding-top: 30px; }

#profile-info-edit #fieldset-genus,
#profile-info-edit #fieldset-species {
  float: left; }
  #profile-info-edit #fieldset-genus#fieldset-genus,
  #profile-info-edit #fieldset-species#fieldset-genus {
    margin-right: 10px; }

#profile-info-edit #fieldset-size {
  clear: left; }

#profile-info-edit #spider-size {
  float: left;
  width: 40px; }

#profile-info-edit .inches {
  color: #6B6965;
  float: left;
  font-size: 90px;
  height: 40px;
  line-height: -56px;
  margin-top: -16px;
  padding-left: 6px; }

spider-profile .edit-button {
  color: #3B3937;
  cursor: pointer;
  display: block;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
  text-align: center;
  width: 70px; }

spider-profile .edit-button:before {
  font-size: 20px;
  position: absolute;
  top: -6px;
  right: 100%; }

spider-profile .close-button {
  color: #3B3937;
  cursor: pointer;
  float: right;
  font-size: 30px; }

spider-profile .save-button {
  color: #3B3937;
  cursor: pointer;
  display: block;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50px; }

/*# sourceMappingURL=wireframe.css.map */
