@import 'vars';

.fa{color:$darker}

.button{
    background:$lightest;
    border:1px solid $darkest;
    border-radius:10px;
    color:$darker;
    cursor:pointer;
    display:inline-block;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    text-transform:uppercase;

    transition:all .5s ease-out;

    &:hover{
        background:$lighter;
    }
}

table button{
    margin-bottom:10px;
    margin-top:10px;
}


