form input{
    padding:5px;
}

form label{
    text-align:left
}

form label,
form input{
    display:block;
    font-family:$main;
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

