spider-profile{
    background:$dark;
    bottom:0;
    display:none;
    left:0;
    padding-bottom:30px;
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    position:absolute;
    right:0;
    top:0;
}

spider-profile img{
    border-radius:100px;
    cursor:pointer;
    display:block;
    height:180px;
    margin-left:auto;
    margin-right:auto;
    width:180px;
}

spider-profile .close, 
spider-profile .save{
    cursor:pointer;
    font-size:35px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

spider-profile.edit input{
    display:block;
}

spider-profile.edit #profile-info,
spider-profile.open #profile-info-edit{
    display:none;
}

#profile-info{
    padding-top:30px;
}

spider-profile h2{
    font-size:40px;
}

spider-profile p{
    font-size:30px;
}

#profile-info-edit,
#profile-info{
    margin-left:auto;
    margin-right:auto;
    width:430px;
}

#profile-info-edit fieldset{
    padding-top:30px;
}

#profile-info-edit #fieldset-genus, 
#profile-info-edit #fieldset-species{
    float:left;

    &#fieldset-genus{margin-right:10px}
}

#profile-info-edit #fieldset-size{
    clear:left;
}

#profile-info-edit #spider-size{
    float:left;
    width:40px;
}

#profile-info-edit .inches{
    color:$darker;
    float:left;
    font-size:90px;
    height:40px;
    line-height:-56px;
    margin-top:-16px;
    padding-left:6px;
}

spider-profile .edit-button{
    color:$darkest;
    cursor:pointer;
    display:block;
    font-size:12px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    position:relative;
    text-align:center;
    width:70px;
}

spider-profile .edit-button:before{
    font-size:20px;
    position:absolute;
    top:-6px;
    right:100%;
}

spider-profile .close-button{
    color:$darkest;
    cursor:pointer;
    float:right;
    font-size:30px;
}

spider-profile .save-button{
    color:$darkest;
    cursor:pointer;
    display:block;
    font-size:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    width:50px;
}


