@import 'vars';
@import 'fonts';
@import 'reset';

body{
    background:$lightest;
    font-family:$main;
    font-size:18px; 
}

h1{
    font-size:50px;
    margin-bottom:50px;
    margin-top:20px;
    text-align:center;
}

#spiderlog{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    text-align:center;
    width:90%;
}


@import 'forms';
@import 'tables';
@import 'buttons';

@import 'spider-list';
@import 'spider-profile';

