<div class="settings">
    <h2>Show the following fields in spider list</h2>
    <input type="checkbox" name="settings-spider-list-size" id="settings-spider-list-size"></input><label for="settings-spider-list-size">size</label>
    <input type="checkbox" name="settings-spider-list-species" id="settings-spider-list-species"></input><label for="settings-spider-list-species">species</label>
    <input type="checkbox" name="settings-spider-list-molt" id="settings-spider-list-molt"></input><label for="settings-spider-list-molt">last molt</label>
    <input type="checkbox" name="settings-spider-list-got" id="settings-spider-list-got"></input><label for="settings-spider-list-got">gotcha date</label>
    <div class="button">save settings</div>
</div>
