    <i class="fa fa-close close-button" ng-click="close()"></i>


    <img ng-src="{{spiderProfileForm.image}}" ng-click="editPhoto(spiderProfileForm.id)"/>

    <div id="profile-info">
    
        <i class="fa fa-pencil edit-button" ng-click="edit(spiderProfileForm.id)">edit spider</i>

        <h2>{{spiderProfileForm.name}}</h2>
    
        <p>{{spiderProfileForm.size}}<span ng-show="spiderProfileForm.size">&quot;</span> {{spiderProfileForm.genus}} {{spiderProfileForm.species}}</p>
    </div>
    <div id="profile-info-edit">
        <form name="spiderProfileForm">
            <fieldset>
                <label for="spider-name">Name</label>
                <input id="spider-name" name="spider-name" ng-model="spiderProfileForm.name"></input>
            </fieldset>
            <fieldset id="fieldset-genus">
                <label for="spider-genus">Genus</label>
                <input id="spider-genus" name="spider-genus" ng-model="spiderProfileForm.genus"></input>
            </fieldset>
            <fieldset id="fieldset-species">
                <label for="spider-species">Species</label>
                <input id="spider-species" name="spider-species" ng-model="spiderProfileForm.species"></input>
            </fieldset>
            <fieldset id="fieldset-size">
                <label for="spider-size">Size [in inches]</label>
                <input id="spider-size" name="spider-size" type="number" ng-model="spiderProfileForm.size"></input>
                <span class="inches">”</span>
            </fieldset>
            <i class="fa fa-check-circle save-button" ng-click="save(spiderProfileForm.id)"></i>
        </form>
    </div>
