<p ng-hide="spiderList.data.length">You haven't added any spiders yet.</p>

<table class="spider-list" ng-show="spiderList.data.length">
    <thead>
        <tr>
            <td>name</td>
            <td>last fed</td>
            <td>feed</td>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="spider in spiderList.data" class="fed-{{spider.weeksSinceFed.styleIndicator}}">
            <td><div class="button">{{spider.identification}}</div></td>
            <td>{{spider.weeksSinceFed.number}} {{spider.weeksSinceFed.description}}</td>
            <td><div class="button">feed</div></td>
        </tr>
    </tbody>
</table>
<div class="button">add spider</div>
