<div>
    <form>
        <fieldset>
            <label for="spider-name">Name</label>
            <input id="spider-name" name="spider-name" type="text"></input>
        </fieldset>
        <fieldset>
            <label for="spider-genus">Genus</label>
            <input id="spider-genus" name="spider-genus"></input>
        </fieldset>
        <fieldset>
            <label for="spider-species">Species</label>
            <input id="spider-species" name="spider-species"></input>
        </fieldset>
        <fieldset>
            <label for="spider-size">Size</label>
            <input id="spider-size" name="spider-size"></input>
        </fieldset>
        <div class="button id="spider-save">save spider</div>
    </form>
</div>
